<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Registration Form</title>
    <meta http-equiv="Content-Type" content="text/html" />
    <meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="../static/assets/css/registration.css" th:href="@{/assets/css/registration.css}" />
	<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
	<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<link rel="stylesheet" type="text/css" href="../static/assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}"/>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<form autocomplete="off" action="#" th:action="@{/registration}"
					th:object="${user}" method="post" class="form-horizontal"
					role="form">
					<h2 class="text-center">Registration Form</h2>
					<div class="form-group">
						<div class="col-md-12">
						<input type="text" th:field="*{name}" placeholder="Name"
								class="form-control" /> 
						<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								class="text-danger"></label>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<input type="text" th:field="*{lastName}"
								placeholder="Last Name" class="form-control" /> 
							<label	th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
									class="text-danger"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<input type="text" th:field="*{email}" placeholder="Email"
								class="form-control" /> <label
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="text-danger"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<input type="password" th:field="*{password}"
								placeholder="Password" class="form-control" /> <label
								th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
								class="text-danger"></label>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<button type="submit" class="btn btn-primary btn-block">Register User</button>
						</div>
					</div>
					
					<span class="text-success" th:utext="${successMessage}"></span>
					
				</form>
				<form th:action="@{/}" method="get">
					<button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
				</form>	
			</div>
		</div>
	</div>
</body>
</html>
